In [1]:
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [2]:
df.drop(df[df['Borough']=='Not assigned'].index, inplace = True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [3]:
df

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [4]:
## Neigbourhood are already grouped by Borough

In [6]:
df.groupby(['Postal Code','Borough']).agg({'Neighbourhood':lambda x: list(x)})

                                                             Neighbourhood
Postal Code Borough
M1B         Scarborough                                   [Malvern, Rouge]
M1C         Scarborough           [Rouge Hill, Port Union, Highland Creek]
M1E         Scarborough                [Guildwood, Morningside, West Hill]
M1G         Scarborough                                           [Woburn]
M1H         Scarborough                                        [Cedarbrae]
...                                                                    ...
M9N         York                                                  [Weston]
M9P         Etobicoke                                          [Westmount]
M9R         Etobicoke    [Kingsview Village, St. Phillips, Martin Grove...
M9V         Etobicoke    [South Steeles, Silverstone, Humbergate, James...
M9W         Etobicoke                [Northwest, West Humber - Clairville]

[103 rows x 1 columns]

In [7]:
df['Neighbourhood'].replace('Not assigned',df['Borough'])

2                                              Parkwoods
3                                       Victoria Village
4                              Regent Park, Harbourfront
5                       Lawrence Manor, Lawrence Heights
6            Queen's Park, Ontario Provincial Government
                             ...
160        The Kingsway, Montgomery Road, Old Mill North
165                                 Church and Wellesley
168    Business reply mail Processing Centre, South C...
169    Old Mill South, King's Mill Park, Sunnylea, Hu...
178    Mimico NW, The Queensway West, South of Bloor,...
Name: Neighbourhood, Length: 103, dtype: object

In [10]:
df_Final = df.groupby(['Postal Code','Borough']).agg({'Neighbourhood':lambda x: list(x)})

In [11]:
df_Final.head()

                                                    Neighbourhood
Postal Code Borough
M1B         Scarborough                          [Malvern, Rouge]
M1C         Scarborough  [Rouge Hill, Port Union, Highland Creek]
M1E         Scarborough       [Guildwood, Morningside, West Hill]
M1G         Scarborough                                  [Woburn]
M1H         Scarborough                               [Cedarbrae]

In [12]:
## verifying dimension of the file
df_Final.shape

(103, 1)

In [15]:
## importing the csv file with coordinates
df_coordinates = pd.read_csv(r'C:\Users\csedj\Downloads\Geospatial_Coordinates.csv')
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
## merging the two files based on postal code
df_Merged = pd.merge(df_Final, df_coordinates, on='Postal Code')

In [19]:
## checking the result
df_Merged.head()

  Postal Code                             Neighbourhood   Latitude  Longitude
0         M1B                          [Malvern, Rouge]  43.806686 -79.194353
1         M1C  [Rouge Hill, Port Union, Highland Creek]  43.784535 -79.160497
2         M1E       [Guildwood, Morningside, West Hill]  43.763573 -79.188711
3         M1G                                  [Woburn]  43.770992 -79.216917
4         M1H                               [Cedarbrae]  43.773136 -79.239476